.benefit {
  &__inner {
    @include row-flex;
  }

  &__item {
    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 15px;

    margin-bottom: 15px;

    text-align: center;

    &::before {
      position: absolute;

      width: 100%;
      height: 100%;

      content: '';

      border-radius: 25px;

      background: rgb(255 255 255 / 3%);
      backdrop-filter: blur(18.5px);
    }

    @include col;
    @include size(6);
    @include size-bp994(3);
  }

  &__item-imgbox {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    @include bp480-block {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  &__item-img {
    @include bp480-block {
      width: 60px;
      height: 60px;
    }
  }

  &__item-name {
    position: relative;

    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    margin-bottom: 20px;

    // max-width: 200px;

    text-transform: uppercase;

    color: $color_light;

    font-family: Oswald, sans-serif;

    font-size: 18px;
    line-height: 22px;
    @include bp480-block {
      font-size: 24px;
      line-height: 30px;
    }
    @include bp768-block {
      margin-bottom: 40px;
    }
    @include bp994-block {
      font-size: 28px;
      line-height: 38px;
    }

    // @include bp994-block {
    //   font-size: 40px;
    //   line-height: 48px;
    // }
  }
}
