<header class="hero">
    <div class="hero__inner">
        <img src="/img/regular/hero/hero_girl.png"
             alt="hero"
             class="hero__img img">
        <div class="hero__present">
            <div class="hero__present-logobox">
                <img src="/img/regular/logo/logo.svg"
                     alt="logo"
                     class="img hero__present-logo">
            </div>
            <div class="hero__present-box">
                <div class="hero__present-line deco__attention">WELCOME BONUS</div>
                <div class="hero__present-main">150%</div>
                <div class="hero__present-sub">+100 Free spins</div>
                <div class="hero__present-secondary">
                    <div class="hero__bonus-title">bonus code:</div>
                    <div class="hero__bonus-code">analyzer150</div>
                </div>
                <a href="//www.bohocasino.com"
                   class="hero__button button button_view_primary button_size_xl">
                    <div class="button__text">GET BONUS</div>
                </a>
            </div>
        </div>
    </div>
</header>
